@charset "UTF-8";
// 總色碼
@import "base/variable";

//色碼引用請參照 base/variable 裡的參數
//EX $nav-color: $color-red-1;


//************************************* 
// *   首頁套版
//*************************************
// header 導航列
    // .lcms-header .title 底色 #242424
    $header-bg-color: $color-gray-9;
    // .lcms-header .title 邊框 #000000
    $header-br-color: #000000;
    // .lcms-header .tools .profile .nav>.divider 邊框 #393939
    $header-br-color2: $color-gray-12;
    // .lcms-header .tools .profile .nav > li > a,
    // .lcms-header .tools .profile .nav > li > span 文字 #FFFFFF
    $header-txt-color: #FFFFFF;

// nav BANNER區
    // .nav-adv-search 背景色 #ABAAAA
    $nav-bg-color: $color-gray-5;

// franchisee 品牌大街
    // #franchisee 背景色 #DCDCDC
    $franchisee-bg-color: $color-gray-6;
    // .elastislide-wrapper #898989
    $franchisee-bg-color2: $color-gray-7;

// 內容商標題底色
    //  #ABAAAA
    $content-bg-color: $color-gray-5;

// 最新消息
    // #news_show_right 第二個div #494949
    $news-show-bg-color: $color-gray-8;

// 課程列表
    // nav ul li a.active(:hover) 類別邊線, .mooc-nav-more 更多類別按鈕bg #494949
    $courselist-class-br-color: $color-gray-8;
    // nav ul li a.active(:hover) 文字 #494949
    $courselist-class-txt-color: $color-gray-8;
// Footer
    // .footer 底色上漸層 #898989
    $footer-bg-top-color: $color-gray-7;
    // .footer 底色下漸層 #9E9584
    $footer-bg-bottom-color: $color-gray-4;

