// varible
$radius: 4px;
$mobilesize: 768px;

// base
@import "compass/css3";

// components
@import "components/nav1";

// layouts
@import "layout/layout1";
@import "layout/box1";
@import "layout/box2";
@import "layout/content4";
@import "layout/content5";

// override?
/*
.layout-hr {
    margin: auto;
    > .layout-child {
        padding: 0.8em;
    }
}
*/