// varible
$radius: 4px;
$mobilesize: 768px;

// base
@import "compass/css3";

// components
@import "components/nav1";
@import "components/photo1";
@import "components/isloading";
@import "components/searchbar";
@import "components/paginate";

// layouts
@import "layout/layout1";
@import "layout/box1";
@import "layout/box2";
@import "layout/content6";

// override?
/*
.layout-hr {
    margin: auto;
    > .layout-child {
        padding: 0.8em;
    }
}
*/