<?php

/**
* login程式的常數設定
*
*/

	define("isCheckWeakPassword","Y");
	define("AccountCenter","WM3");		// WM3:default, LDAP SERVER, OTHDB, WEBSERVICES 其他資料庫
	define("isSyncUserData","N");		// 是否要與帳號中心同步資料
	$SyncFields = array(				// 同步那些欄位資料
				"first_name", "last_name", "email"
				);
	//設定不需經帳號中心驗證的, 由WM3驗證
	$UsersValidedByWM3 = array(
		"root","admin","guest","sunnet"
	);
	
	
	//LDAP Server 設定
	define("LDAP_SERVER_ADDR","");
	define("LDAP_SERVER_PORT","");
	define("LDAP_BASEDN","dc=nou,dc=edu,dc=tw");
	define("LDAP_USERDN","uid=dlsearch ,ou=noustud,ou=PEOPLE,dc=nou,dc=edu,dc=tw");		//LDAP登入者,可查詢使用者資料
	define("LDAP_PASSWORD","nousearch");		//LDAP登入者的密碼

	//Other 資料庫驗證
	define("OTHDB_SERVER_TYPE","");		// MSSQL, ORACLE
	define("OTHDB_SERVER_ADDR","");
	define("OTHDB_SERVER_PORT","");
	define("OTHDB_USERNAME","");
	define("OTHDB_PASSWORD","");
	define("OTHDB_DATABASE","");
	
	//Webservice 驗證
	define("WS_Host","");
	define("WS_Port","80");
	define("WS_Path","/validuser.php");

	//設定同步欄位
	$syncFields = array(
		"first_name","lastname","gender", "birthday", "personal_id",
		"email","homepage", "home_tel", "home_fax", "home_address", "cell_phone",
		"office_tel","office_fax","office_address",	"company","department","title");
?>