[mysqld]
datadir=/home/mysql_var
socket=/tmp/mysql.sock
skip-locking
skip-networking
skip-name-resolve
skip-bdb
skip-innodb
max_connections = 400
wait_timeout = 1000
max_allowed_packet = 64M
key_buffer = 128M
table_cache = 1024
sort_buffer_size = 8M
query_cache_size = 64M
tmp_table_size = 64M
### 使用 MySQL 5 必須把底下兩條指令 enable
#default-character-set = utf8
#init-connect='SET NAMES binary;'
#log=/home/mysql_var/mysqld.log
#log_update=/home/mysql_var/mysqld_update.log
#log_slow_queries=/home/mysql_var/slow_queries.log

[client]
socket=/tmp/mysql.sock

[mysql.server]
user=mysql
basedir=/usr/local/mysql

[safe_mysqld]
err-log=/home/mysql_var/mysqld.err
pid-file=/home/mysql_var/mysqld.pid
