/**
 * 綠色系的佈景配色
 *
 * @since   2004/02/12
 * @author  ShenTing Lin
 * @version $Id: wm.css,v 1.1 2010/02/24 02:40:49 saly Exp $
 * @copyright Wisdom Master 3(C)  Copyright(R)   SunNet Co. Taiwan, R.O.C
 **/

/* ------ 新的佈景 ------ */

/* ------ Scroll Bar 的配色 ------ */
body {
	scrollbar-arrow-color: #9C98BB;
	scrollbar-3dlight-color: #9C98BB;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-face-color: #EBEBEB;
	scrollbar-shadow-color: #9C98BB;
	scrollbar-track-color: #F0F0F0 ;
	scrollbar-darkshadow-color: #FFFFFF;
    background-color: #F6F6F6;
	font-size: 16px;
}

table {
	font-size: 1em;
}

input, textarea, select, button {
    font-size: 1em;
	line-height: 1.6em;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
/* ------ 停用選取 ------ */
.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ------ Tabs 的標籤 ------ */
.cssTabs {
	line-height: 1.6em;
	font-size: 1em;
	font-weight: bolder;
	padding-bottom: 4px;
	text-decoration: none;
	letter-spacing: 0px;
	cursor: default;
	color: #ffffff;
	background-position: bottom;
	background-repeat: repeat-x;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ------ 左邊的工具列 ------ */
	/* ------ Frame 的背景色 ------ */
.cssTbBodyBg {
	color: #ececec;
	background-color: #07aeb0;
	overflow: hidden;
}
	/* ------ 用來修正在 IE5 上面呈現會出現有問題的畫面 ------ */
.cssTbBugIE5 {
	position: absolute;
	right: -1px;
	top: 30px;
	width: 7px;
	height: 100%;
	background-color: #07aeb0;
	clip: auto;
	overflow: auto;
	z-index: 40;
}
	/* ------ 工具列最上面的按鈕 ------ */
.cssTbBtn {
	padding: 6px 5px 0px 0px;
}
	/* ------ 工具列位置與背景色 ------ */
.cssToolbar {
	width: 188px;
	position: absolute;
	left: 6px;
	top: 30px;
	background-color: #07aeb0;
	clip: auto;
	overflow: auto;
	z-index: 30;
}
	/* ------ 工具列最上面的那一層 ------ */
.cssTbHead {
	font-size: 1em;
	line-height: 30px;
	height: 40px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000000;
	background-color: #FFFFFF;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	font-weight: bold;
}
	/* ------ 工具列的表格 ------ */
.cssTbTable {
	border: 0px solid #FFFFFF;
	background-color: #ececec;
}

.cssTbTr {
	border-style: none solid none solid;
	border-width: 0px 0px 0px 0px;
	border-color: #CCCCE6 #CCCCE6 #CCCCE6 #CCCCE6;
	padding: 3px 2px 2px 8px;
	color: #000000;
	background-color: #FFFFFF;
	cursor: default;
}
	/* ------ 工具列的預設樣式 ------ */
.cssTbTd {
	border-style: none solid none solid;
	border-width: 0px 0px 0px 0px;
	border-color: #07aeb0 #07aeb0 #07aeb0 #07aeb0;
	padding: 10px 10px 10px 10px;
	font-size: 1em;
	line-height: 24px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #000000;
	background-color: #07aeb0;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	font-weight: bold;
}
	/* ------ 滑鼠在工具列上 ------ */
.cssTbFocus {
	cursor: default;
	font-size: 1em;
	line-height: 24px;
	height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #07aeb0;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 0px 3px 1px 3px;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	font-weight: bold;
}
.cssTbFocusFromTo {
	cursor: default;
	font-size: 1em;
	line-height: 32px;
	height: 32px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #07aeb0;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 0px 3px 1px 3px;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	font-weight: bold;
}
	/* ------ 滑鼠離開工具列 ------ */
.cssTbBlur {
	cursor: default;
	font-size: 1em;
	line-height: 24px;
	height: 16px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #ffffff;
	background-color: #07aeb0;
	border: 1px solid #07aeb0;
	padding: 0px 3px 1px 3px;
	margin: 0px 2px 0px 2px;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
/* ------ 表格 ------ */
.cssTable {
	background-color: #dddddd;
	border: 1px solid #1bcdd1;
	width: 100%;
}

.cssTr {
}

.cssTrHelp {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 0px;
	color: #ffffff;
	background-color: #c0c0c0;
	font-weight: bold;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTrHead {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 0px;
	color: #ffffff;
	background-color: #0db9bb;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTrEvn {
	font-size: 1em;
	line-height: 1.8em;
	text-decoration: none;
	letter-spacing: 0px;
	color: #000000;
	background-color: #FFFFFF;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTrOdd {
	font-size: 1em;
	line-height: 1.8em;
	text-decoration: none;
	letter-spacing: 0px;
	color: #000000;
	background-color: #ECECEC;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.learn-path-stress {
    font-weight: bold;
    background-color: #ffff99;
    line-height: 2.3em;
    font-size: 1.3em;
}

.cssTd {
}
/* ------ 表單元件 ------ */
.cssInput {
	font-size: 1em;
	color: #242424;
	background-color: #FFFFFF;
	border: 1px solid #dcdcdc;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	padding-left: 2px;
}

.cssBtn {
	font-size: 1em;
	height: 1.6em;
	color: #ffffff;
	background-color: #17cace;
	border: 1px solid #05aaac;
    font-family:"微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssBtn[disabled] {
	font-size: 1em;
	height: 1.6em;
	color: #C0C0C0;
	background-color: #f9f9f9;
	border: 1px solid #dcdcdc;
	font-family:"微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
/* ------ 連結 ------ */
.cssAnchor {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 0px;
	color: #242424;
	font-family:"微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssAnchor:hover {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: underline;
	letter-spacing: 0px;
	color: #05a4a6;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssAnchor:visited{
	font-size: 1em;
	line-height: 1.6em;
	letter-spacing: 0px;
	color: #05a4a6;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.cssTrHead .cssAnchor {
	color:#fff;
	font-weight: bold;
}
.cssTrHead .cssAnchor:hover {
	color:#fff;
	font-weight: bold;
}
.cssTrHead .cssAnchor:visited {
	color:#fff;
	font-weight: bold;
}

/* ------ 課程群組的 Tree 需要使用 ------ */
.cssUL {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.cssOL {
	list-style-type: none;
	padding-left: 10px;
	margin-left: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
/* ------ 其它字型設定 ------ */
	/* ------ 行事曆 (今天) ------ */
.cssCaleBg01 {
	background-color: #ececec;
}
	/* ------ 行事曆 (事件提醒) ------ */
.cssCaleBg02 {
	background-color: #F5CCF6;
}
	/* ------ 行事曆 (星期天) ------ */
.cssCaleFont01 {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #FF0000;
	font-family:  "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 行事曆 (星期六) ------ */
.cssCaleFont02 {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #00a930;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 行事曆 (其它星期) ------ */
.cssCaleFont03 {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #c0c0c0;
	font-family:  "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 行事曆 (今天有事件) ------ */
.cssCaleFont04 {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #BC8AD7;
	background-color: #E2D19F;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
#tab_CalendarUser .cssTrEvn,
#tab_CalendarCourse .cssTrEvn,
#tab_CalendarSchool .cssTrEvn {
	font-size: 1em;
}
	/* ------ 我的課程 (登入的數字) ------ */
.cssFont01 {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #008F29;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
	/* ------ 我的課程 (標頭部份) ------ */
.cssMyHead {
	font-size: 1em;
	line-height: 1.6em;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	color: #ffffff;
	background-color: #0db9bb;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}
/* ------ 舊的佈景 ------ */
.box01 {

	background-color: #dddddd;
	border: 1px solid #1bcdd1;
}

.box02 {
	font-size: 1em;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #A0B5D3;
}

.box03 {
	font-size: 1em;
	color: #000000;
	background-color: #D0D0D0;
	border: 1px solid #A0B5D3;
}

.box04 {
	background-color: #E4E2F3;
	border-top: 1px solid #7070B8;
	border-left: 1px solid #7070B8;
	border-right: 1px solid #7070B8;
	border-bottom: 0px none #000000;
}

.box05 {
	background-color: #E4E2F3;
	border-top: 0px none #000000;
	border-left: 1px solid #7070B8;
	border-right: 1px solid #7070B8;
	border-bottom: 1px solid #7070B8;
}

.box06 {
	background-color: #E4E2F3;
	border-top: 0px none #000000;
	border-left: 1px solid #7070B8;
	border-right: 1px solid #7070B8;
	border-bottom: 0px none #000000;
}

.bg01 {
	background-color: #E3E9F2;
}

.bg02 {
	font-size: 1em;
	line-height: 30px;
	text-decoration: none;
	letter-spacing: 0px;
	color: #ffffff;
	background-color: #0db9bb;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.bg03 {
	font-size: 1em;
	line-height: 24px;
	text-decoration: none;
	letter-spacing: 0px;
	color: #000000;
	background-color: #FFFFFF;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.bg04 {
	font-size: 1em;
	line-height: 24px;
	text-decoration: none;
	letter-spacing: 0px;
	color: #000000;
	background-color: #f9f9f9;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.bg05 {
	background-color: #8CAAE6;
	color: #000000;
}

.bg06 {
	background-color: #E6E6FA;
	color: #000000;
}

.bg07 {
	background-color: #FFA07A;
	color: #000000;
}

.bg08 {
	background-color: #E6EEFD;
}

.font01 {
	font-size: 1em;
	line-height: 1.6em;
	text-decoration: none;
	letter-spacing: 0px;
	color: #000000;
	font-family: "微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.font02 {
	 font-size: 1em;
	 font-weight: bold;
	 line-height: 1.6em;
	 color: #000000;
	 text-decoration: none;
	 letter-spacing: 2px;
}

.font03 {
	font-size: 1.2em;
	line-height: 1.8em;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	font-weight: bold;
}

.font04 {
	 font-size: 1em;
	 line-height: 1.6em;
	 color: #FF0000;
	 text-decoration: none;
	 letter-spacing: 2px;
}

.font05 {
	font-size: 1.2em;
	line-height: 1.8em;
	color: #003366;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.font06 {
	font-size: 1em;
	color: #7878AA;
	text-decoration: none;
	letter-spacing: 1px;
}

.link_fnt01 {
	font-size: 1em;
	line-height: 1.6em;
	color: #006699;
	text-decoration: none;
	font-family: "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	letter-spacing: 1px;
}

.link_fnt01:hover {
	font-size: 1em;
	line-height: 1.6em;
	color: #0000FF;
	text-decoration: underline;
	font-family: "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	letter-spacing: 1px;
}

.link_fnt01:visited{
	font-size: 1em;
	line-height: 1.6em;
	color: #000080;
	font-family: "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
	letter-spacing: 1px;
}

.color01 {
	 color: #FF0000;
}

.color02 {
	 color: #008000;
}

.color03 {
	 color: #0000FF;
}

.color04 {
	 color: #000000;
}


.button01 {
	font-size: 1em;
	height: 1.6em;
	color: #ffffff;
	background-color: #17cace;
	border: 1px solid #05aaac;
    font-family:"微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}

.button01[disabled] {
	font-size: 1em;
	height: 1.6em;
	color: #C0C0C0;
	background-color: #f9f9f9;
	border: 1px solid #dcdcdc;
	font-family:"微軟正黑體", "Tahoma", "PMingliu", "MingLiU", "Times New Roman", "Times", "serif";
}


/*
.toolbar {
	position: absolute;
	left: 5px;
	top: 30px;
}

.toolbarBox01 {
	border: 1px solid #FFFFFF;
}

.toolbarBox02 {
	border-style: none solid none solid;
	border-width: 0px 2px 0px 2px;
	border-color: #CFE69F #CFE69F #CFE69F #CFE69F;
	padding: 3px 2px 2px 8px;
}

.toolbarBox03 {
	border-style: none solid none solid;
	border-width: 0px 2px 0px 2px;
	border-color: #CFE69F #CFE69F #CFE69F #CFE69F;
	padding: 0px 1px 0px 1px;
}

.bgColor02 {
	height : 26px;
	width  : 120px;
	font-size: 1em;
	color: #000000;
	background-color: #EAEAF4;
	border: 0px solid #A0B5D3;
}

.bgColor03 {
	height : 26px;
	width  : 120px;
	font-size: 1em;
	color: #000000;
	background-color: #FFFFFF;
	border: 0px solid #A0B5D3;
}
.ftpcss{
	background-color: #FFFFFF;
	color: #000000;
	font-size: 1.1em;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
*/

.cke_inner .cke_top,.cke_inner .cke_contents,.cke_inner .cke_bottom{width:auto}

/* 辦公室/學習節點，若是lcms節點，顯示 教材資源庫 */
.node-lcms {
    margin-left: 0.5em;
}