@charset "UTF-8";
// 色碼總集合，以英文大色為分類，新色碼整理至csstest/base.html
// 新增顏色先搜尋以前是否已設定過

$color-red-1: #E55756;
$color-red-2: #FF7F7E;
$color-red-3: #FBCED2;

$color-orange-1: #F3800F;
$color-orange-2: #FF9E14;
$color-orange-3: #FB9504;
$color-orange-4: #FCAE3F;
$color-orange-5: #FFCC00;

$color-green-1: #06A2A4;
$color-green-2: #048E89;
$color-green-3: #2FC3BD;
$color-green-4: #5AD8D4;
$color-green-5: #97FFFB;
$color-green-6: #30C3BB;
$color-green-7: #03A385;

$color-gray-1: #ECECEC;
$color-gray-2: #CCCCCC;
$color-gray-3: #626262;
$color-gray-4: #9E9584;
$color-gray-5: #ABAAAA;
$color-gray-6: #DCDCDC;
$color-gray-7: #898989;
$color-gray-8: #494949;
$color-gray-9: #242424;
$color-gray-10: #5A5A5A;
$color-gray-11: #DDDDDD;
$color-gray-12: #393939;